/* Center the header */
#header {
    text-align: center}
/* Adjust the size of the footnotes */
.footnotes {
    font-size: 0.8em}
/* Uncomment the following lines to add pagebreaks */
/* 
div#TOC, div[id^='lecture-'], div[id^='introduction-'], div#appendix {
    display: block;
    page-break-after: always;
    overflow: visible !important;}
*/
